In [2]:
import numpy as np
import pandas as pd

In [3]:
vals2 = np.array([1, np.nan, 3, 4]) 
vals2.dtype

dtype('float64')

In [4]:
vals2

array([ 1., nan,  3.,  4.])

In [5]:
data = pd.Series([1, np.nan, 'hello', None])

In [6]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [7]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [8]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [9]:
data.dropna()

0        1
2    hello
dtype: object

In [10]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [11]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [12]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [13]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [15]:
data = pd.Series([1, np.nan, 2, None, 3], index=['a','b','c','d','e'])
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [16]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64