In [9]:
import numpy as np

In [2]:
np.array([1,3,5,8,6])

array([1, 3, 5, 8, 6])

In [3]:
np.array([1,3,5,8,6], dtype='float32')

array([1., 3., 5., 8., 6.], dtype=float32)

In [4]:
range(10)

range(0, 10)

In [5]:
[range(10)]

[range(0, 10)]

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
np.array([range(i,i+3) for i in [1,2,3]])

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5]])

In [8]:
np.array(list(range(i,i+3) for i in [1,2,3]))

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5]])

In [9]:
[range(0, 10)]

[range(0, 10)]

In [11]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [13]:
np.ones((3,5),dtype='float')

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [14]:
np.full((3,5),3.14)

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

In [17]:
np.arange(0,20,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [18]:
np.linspace(0,1,5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [25]:
np.random.rand(3, 3)

array([[0.01929166, 0.35617078, 0.25979365],
       [0.27550487, 0.24267113, 0.19571073],
       [0.03845313, 0.2506919 , 0.91873901]])

In [29]:
np.random.randint(0, 10,(3,3))

array([[9, 5, 8],
       [1, 4, 5],
       [5, 4, 8]])

In [30]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [32]:
np.empty(3)

array([1., 1., 1.])

In [33]:
np.random.normal(1,1,(3,3))

array([[ 0.252724  , -0.35930103,  2.33625066],
       [ 1.77371424,  3.4107808 ,  1.6517378 ],
       [ 1.68119553,  2.09900293,  1.47073499]])

In [40]:
import numpy as np
np.random.seed(0)  # seed for reproducibility

x1 = np.random.randint(10, size=6)  # One-dimensional array
x2 = np.random.randint(10, size=(3, 4))  # Two-dimensional array
x3 = np.random.randint(10, size=(3, 4, 5))  # Three-dimensional array

In [41]:
print("x3 ndim: ", x3.ndim)
print("x3 shape:", x3.shape)
print("x3 size: ", x3.size)

x3 ndim:  3
x3 shape: (3, 4, 5)
x3 size:  60

In [42]:
x3

array([[[8, 1, 5, 9, 8],
        [9, 4, 3, 0, 3],
        [5, 0, 2, 3, 8],
        [1, 3, 3, 3, 7]],

       [[0, 1, 9, 9, 0],
        [4, 7, 3, 2, 7],
        [2, 0, 0, 4, 5],
        [5, 6, 8, 4, 1]],

       [[4, 9, 8, 1, 1],
        [7, 9, 9, 3, 6],
        [7, 2, 0, 3, 5],
        [9, 4, 4, 6, 4]]])

In [49]:
print("x3 size:",x3.size)

x3 size: 60

In [50]:
x2

array([[3, 5, 2, 4],
       [7, 6, 8, 8],
       [1, 6, 7, 7]])

In [51]:
x2[::-1,::-1]

array([[7, 7, 6, 1],
       [8, 8, 6, 7],
       [4, 2, 5, 3]])

In [52]:
x2[:,0]

array([3, 7, 1])

In [53]:
print(x2[:,0])

[3 7 1]

In [2]:
import pandas as pd
data = pd.Series([0.25,0.5,0.75,1])

In [3]:
pd.Series([0.25,0.5,0.75,1])

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [7]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
x=np.array([1,3,5,8,6])
x

array([1, 3, 5, 8, 6])

In [11]:
pd.Series(x)

0    1
1    3
2    5
3    8
4    6
dtype: int32

In [12]:
pd.Series([1,3,5,8,6])

0    1
1    3
2    5
3    8
4    6
dtype: int64

In [13]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [14]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [15]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [16]:
population['California']

38332521

In [17]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [18]:
data = [{'a':i,'b':i+2} for i in range(3)]

In [19]:
data

[{'a': 0, 'b': 2}, {'a': 1, 'b': 3}, {'a': 2, 'b': 4}]

In [20]:
pd.DataFrame(data)

   a  b
0  0  2
1  1  3
2  2  4

In [23]:
pd.DataFrame({'p': population, 'a': area})

                   p       a
California  38332521  423967
Texas       26448193  695662
New York    19651127  141297
Florida     19552860  170312
Illinois    12882135  149995

In [24]:
pd.DataFrame({'p': population})

                   p
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [25]:
pd.DataFrame(np.random.rand(3,2))

          0         1
0  0.307346  0.503669
1  0.651406  0.247184
2  0.363138  0.104607